// Fonts

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&family=Poppins:wght@300;700&display=swap');

$primary: #f39022;
$secondary: #504e4f;

$gray-800: #504e4f !default;

$font-family-sans-serif:      "Nunito Sans", sans-serif;
$font-family-monospace:       "Poppins", sans-serif;
$font-family-base:            $font-family-sans-serif !default;
$transition-base:             all .5s ease-in-out !default;