.btn {
    &-link {
        font-size: 0.875rem;
        line-height: 1.875rem;
        color: $white;
        font-weight: 700;
        font-family: $font-family-monospace;
        text-align: center;
        padding: 0 0.9375rem;

        &:hover, &:active, &:focus {
            color: $gray-800;
            text-decoration: none;
        }

        @include media-breakpoint-up(md) {
            font-size: 1rem;
            padding: 0 1.875rem;
        }
        
        @include media-breakpoint-up(xl) {
            font-size: 1.125rem;
            padding: 0 2.1875rem;
        }
    }

    &-secondary {
        font-size: 0.875rem;
        padding: 0;
        background-color: $white;
        border-radius: 0.5rem;
        border: none;
        color: $gray-800;
        font-weight: 700;
        font-family: $font-family-monospace;
        text-align: center;
        line-height: 2.375rem;
        height: 2.375rem;
        width: 8.125rem;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
            line-height: 3.125rem;
            height: 3.125rem;
            width: 8.875rem;
        }
        
        @include media-breakpoint-up(xl) {
            font-size: 1.125rem;
            line-height: 3.625rem;
            height: 3.625rem;
            width: 9.375rem;
        }

        &:hover, &:active, &:focus {
            color: $white;
        }
    }
}

.header {
    padding: 1.0625rem 0;

    &__title {
        display: flex;
        align-items: flex-end;
    }

    &__logo {
        width: 4rem;
        height: 5.625rem;
        margin: 0 auto 0.625rem auto;

        @include media-breakpoint-up(md) {
            margin: 0;
        }
    }

    &__text {
        margin-left: 1.625rem;
        position: relative;
        top: 3;

        p {
            font-size: 1.125rem;
            margin: 0;
            line-height: 1.1875rem;
            font-family: $font-family-monospace;
            color: $white;
            font-weight: 700;
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }

            span {
                font-weight: 300;
            }
        }
    }

    &__buttons-container {
        height: 100%;
        text-align: center;

        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .btn-secondary {
            position: relative;
            padding-left: 0.75rem;
            margin-top: 0.625rem;

            @include media-breakpoint-up(md) {
                margin-top: 0;
                margin-left: 1.875rem;
            }

            @include media-breakpoint-up(xl) {
                margin-left: 2.1875rem;
            }

            &:before {
                content: "";
                background-image: url("../img/lock-icon.png");
                width: 0.875rem;
                height: 1.1875rem;
                position: absolute;
                left: 1.875rem;
                top: 0.5625rem;

                @include media-breakpoint-up(md) {
                    left: 2rem;
                    top: 0.9375rem;
                }

                @include media-breakpoint-up(xl) {
                    left: 2.25rem;
                    top: 1.1875rem;
                }
            }
        }
    }
}